
.mb_menuwindow {
	width:100%; 
	padding:100px 0 30px
}

.mb_menuwindow ul {
    list-style: none;
    padding: 0;
}

.mb_menuwindow ul .inner {
    
    display: none;
}

.mb_menuwindow ul li {
    margin: 0;
}

.mb_menuwindow>ul>li>a {
font-weight: 500;
}

.mb_menuwindow ul li a {
  text-decoration:none;
    font-size: 20px;
    color: #333;
    display: block;
    padding:10px;
    transition: background .3s ease;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.15em;
    border-width: 0px 0px 1px 0px;
	text-align:left
}

.mb_menuwindow ul li a.toggle {
position: relative;

}
.mb_menuwindow ul li a.toggle:before {
    content:"\eab2";
    right: 0; top: 50%;
    transform: translateY(-50%);
    font-family: IcoFont;
    position: absolute;
}
.mb_menuwindow ul li a.toggle.expanded:before {
    content:"\eab9";
}

/*
ul li a.toggle:hover {
  background-color: #E9F9F9;
} */

.mb_menuwindow ul.inner li>a {
    padding-left: 2em; font-size: 18px;
}

.mb_menuwindow ul.inner .inner li>a {
    padding-left: 3em;
}

.mb_menuwindow ul.inner .inner .inner li>a {
    padding-left: 4em;
}



